<a href="https://colab.research.google.com/github/Jayaprakash1999-28/Github-debugging/blob/main/Practiceprob1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
radius=float(input('Enter the radius of circle '))
area=3.14*radius**2
print("Area of Circle is ",area)

Enter the radius of circle6
Area of Circle is  113.04

In [ ]:
name=input("Enter the name ")
roll_no=input("Enter the roll number ")
mark=input("Enter the mark ")
print ('Name:',name)
print ('Roll No:',roll_no)
print ('Mark:',mark)

Enter the name Anisha
Enter the roll number 21
Enter the mark 78
Name: Anisha
Roll No: 21
Mark: 78

In [ ]:
n=int(input("Enter the number of elements in the list: "))
print("Enter", n, "numbers:")

num_list = []
for _ in range(n):
    num = float(input())
    num_list.append(num)

largest = num_list[0]
for num in num_list:
    if num > largest:
        largest = num

print(largest,"is the largest number")

Enter the number of elements in the list: 4
Enter 4 numbers:
12
3
47
10
47.0 is the largest number

In [ ]:
previous_number = 0
current_number = 1
for _ in range(10):
    sum_current_previous = current_number + previous_number
    print(sum_current_previous)
    previous_number = current_number
    current_number += 1

1
3
5
7
9
11
13
15
17
19

In [5]:

n = int(input("Enter the number of elements: "))
num_list=[]
print("Enter", n, "numbers:")
for _ in range(n):
    num = int(input())
    num_list.append(num)
divisible_by_5=[]
while len(num_list)>0:
    l=num_list.pop(i)
    if l%5==0:
                 divisible_by_5.append(l)
print("numbers divisible by 5 is :",divisible_by_5)

Enter the number of elements: 5
Enter 5 numbers:
10
20
33
46
55
numbers divisible by 5 is : [55, 20, 10]

In [9]:
n=int(input("Enter the number : "))
if n>1:
  for i in range(2,n):
    if n%i==0:
      print(n,"not a prime number")
      break
    else:
        print(n,"is a prime number")
else:
  print(n,"is not a prime number")

Enter the number : 5
5 is a prime number
5 is a prime number
5 is a prime number

In [12]:
n = int(input("Enter the number of elements: "))
org_list=[]
print("Enter", n, "numbers:")
for _ in range(n):
    num = int(input())
    num_list.append(num)
rev_list=[]
for i in range(len(org_list)-1, -1, -1):
    rev_list.append(org_list[i])
print("Reversed list:", rev_list)

Enter the number of elements: 4
Enter 4 numbers:
10
20
30
40
Reversed list: []

In [13]:
n = 4
for i in range(1, n + 1):
    print('*' * i)

*
**
***
****

In [15]:
num_1 = float(input("Enter first number: "))
num_2 = float(input("Enter second number: "))
num_3 = float(input("Enter third number: "))

max_num = num_1
if num_2 > max_num:
    max_num = num_2
if num_3 > max_num:
    max_num = num_3

print("The maximum of the three numbers is:", max_num)

Enter first number: 4
Enter second number: 5
Enter third number: 6
The maximum of the three numbers is: 6.0

In [17]:
n = 5
for i in range(n):
    print('*' * (i + 1))
for j in range(n - 1):
    print('*' * (n - i - 1))

*
**
***
****
*****